@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap"); /* 200 and 400 */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oxygen+Mono&family=PT+Mono&family=Poppins:wght@500&family=Ubuntu:wght@700&display=swap");

$black: #111;
$lightColor: #aaa;
/*background-colors*/
$bgcolor1: #222;
$bgcolor2: #16213e;
$bgcolor3: #0f3460;
$bgcolor4: rgba(17, 17, 17, 0.7);
/*details colors*/
$detailColor1: #e94560;
$detailcolor2: #eb455f;
$detailColor3: #533483;
$detailColor4: #29d9d5;
/*text colors*/
$txtColor1: white;
/*font-family*/
$title1: "Poppins", sans-serif;
$title2: "Ubuntu", sans-serif;
$title3: "Oswald", sans-serif;
$txt1: "Montserrat", sans-serif;
$specialText1: "PT Mono", monospace;

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.5 linear;
  overflow-x: hidden;
}

body {
  background: #ebebeb;
  overflow-x: hidden;
  width: 100vw;
  height: 100%;
}
section {
    padding: 3rem 9%;
  }
  
  /*header section*/
  header {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
    background-color: $bgcolor1;
    display: flex;
    align-items: center;
    padding: 1.5rem 9%;
    color: white;
    justify-content: space-around;
    flex-wrap: wrap;
  
    h1 {
      text-align: center;
    }
  
    .navbar {
      display: flex;
      gap: 0.5rem;
      color: white;
  
      a {
        color: grey;
        cursor:pointer;
        transition: all 0.5 linear;
        transition-duration: 0.3s;
        animation: ease-in-out;
  
        &:hover {
          color: $detailColor4;
        }
      }
    }
  }

  .banner{
    margin-top:7rem;
    margin-bottom:0;
    background:url("../assets/banner.jpeg");
    height:100vh;
    background-size:cover;
    position: relative;
    z-index:1;
    width: 100%;
    padding:1rem .5rem;
    text-align:center;
    display:flex;
    place-items: center;
    background-position: top center;
    overflow-x: hidden;
  }

  main{
    display:block;
    word-wrap: wrap;
    text-align:center;
    width:100vw;
    padding-top:50rem;
    margin:3rem auto 0rem auto;
    z-index:3;
    position:absolute;
    bottom:0px;
    left:0;
    right:0;
    color:white;
    background-image:linear-gradient(#222222a6, $bgcolor1);
    overflow-x: hidden;

    .questions{

      h2{
      font-size:2rem;
    }
    
      p{
        font-size:1.1rem;
      }
    } 
  }

  div.channels{
    margin-top:2rem;
    margin:2rem auto 1rem;
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
    font-size:1.6rem;
    padding:auto .1rem;

    i{
      padding-bottom:1rem;
    }

    .call{
      padding-bottom:auto .1rem;
      
      p{
        font-size:.8rem;
        padding-top:.2rem;
      }
    }

    .email{
      padding-bottom:1rem;

      p{
      font-size:.8rem;
      padding-top:.2rem;
    }
    }
  }